body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1F2937;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 0 48px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 24px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text {
    flex: 1;
}


.content {
    flex: 1;
}
.quote {
    background-color: #E5E7EB;
}
.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.cta {
    background-color: #3882F6;
}

.footer {
    background-color: #1F2937;
}