@import 'meyer-reset.css';

/* SETUP */

* {
    box-sizing: border-box;
}

/* picture {
    display: block;
} */

img {
    /* display: block; */
    width: 100%;
    height: auto;
} 

a {
    color: inherit;
    text-decoration: none;
}

p a, li a {
    color: blue;
    text-decoration: underline;
}

/* DEBUG */

header, footer, main {
    border: 3px solid red;
    min-height: 100px;
}

section {
    border: 2px solid green;
    min-height: 300px;
}

div {
border: 4px solid orange;
}

/* STRUCTURE */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

div {
    padding: 10px;
}

/* Modules */
.hero-module {
    display: flex;
    gap: 20px;
}

.hero-module :is(.welcome-text, picture) {
    flex-basis: 50%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header, footer {
    background-color: #1F2937;
    padding: 0 15%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 24px;
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

button {
    background-color: #3882F6;
    width: 70px;
    border-radius: 5px;
    border: none;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    padding: 0 15%;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.information {
    padding: 20px 15%;
    text-align: center;

}

.info-items-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.info-item {
    width: 200px;
}

.quote {
    background-color: #E5E7EB;
    padding: 0 15%;
    display: flex;
    align-items: center;
}
.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.cta {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta-banner {
    background-color: #3882F6;
    width: 70%;
    min-height: 200px;
} 
